 body {

 }
 
 #top{
  display: flex;
  margin: 0 0 0 20px;
  height: 365px;
}

#image-modal {
  flex: 0 0 40%;
  margin: 10px 10px 
}

#bid-buy {
  flex: 1;
  margin: 50px 0 0 80px
}

#alsoviewed {
  visibility: auto
}

#ratings_reviews {
  position: relative
}
